# virtualenv
.venv/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter noteboook checkpoints
*checkpoint.ipynb

# project specific
results/*.csv
results/*.h5
results/figures/*.png
demo.py
test.py
